herms/公司和人员关系分析.yml
app:
  description: 人和人关系分析智能体
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 公司与人员关系分析
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/gpustack:0.0.9@6eea0c9bec9d679e8cbf6b5d0bd71488e8b9bd1c2999f8003f7b79713942b9d9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1782469769690-source-1782469790439-target
      selected: false
      source: '1782469769690'
      sourceHandle: source
      target: '1782469790439'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1782469769690-source-17826377927780-target
      selected: false
      source: '1782469769690'
      sourceHandle: source
      target: '17826377927780'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1782637856656-source-1782638870400-target
      selected: false
      source: '1782637856656'
      sourceHandle: source
      target: '1782638870400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1782638870400-source-answer-target
      selected: false
      source: '1782638870400'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: variable-aggregator
      id: 1782469790439-source-1782637856656-target
      source: '1782469790439'
      sourceHandle: source
      target: '1782637856656'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: variable-aggregator
      id: 17826377927780-source-1782637856656-target
      source: '17826377927780'
      sourceHandle: source
      target: '1782637856656'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: https://172.16.4.83:8086/
          hide: true
          hint: ''
          label: ip（当前地址）
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: ip
        - default: Bearer e625b22c-357b-4b3e-ad7e-5f2373e60347
          hide: true
          hint: ''
          label: token（鉴权字段）
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: token
        - default: 深圳智达信息有限公司
          hint: ''
          label: 公司
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: company
        - default: 李娜
          hint: ''
          label: 用户
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user
      height: 186
      id: '1782469769690'
      position:
        x: -7.544542646089724
        y: 397.1944590547903
      positionAbsolute:
        x: -7.544542646089724
        y: 397.1944590547903
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1782638870400.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 2320.510871565303
        y: 411.29225248799014
      positionAbsolute:
        x: 2320.510871565303
        y: 411.29225248799014
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-194
            key: ''
            type: text
            value: "{\n  \"start\": {\n    \"name\": \"{{#1782469769690.company#}}\"\
              \n  },\n  \"end\": {\n    \"name\": \"{{#1782469769690.user#}}\"\n \
              \ },\n  \"business_type\": \"股权关系\",\n  \"max_depth\": 4,\n  \"limit\"\
              : 20\n}"
          type: json
        desc: 公司和人员股权关系判断
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求-股权
        type: http-request
        url: http://172.16.1.203:9621/audit/graph/paths/query
        variables: []
      height: 164
      id: '1782469790439'
      position:
        x: 499.96009955687225
        y: 241.00822481076324
      positionAbsolute:
        x: 499.96009955687225
        y: 241.00822481076324
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-194
            key: ''
            type: text
            value: "{\n  \"start\": {\n    \"name\": \"{{#1782469769690.company#}}\"\
              \n  },\n  \"end\": {\n    \"name\": \"{{#1782469769690.user#}}\"\n \
              \ },\n  \"business_type\": \"人际关系\",\n  \"max_depth\": 1,\n  \"limit\"\
              : 10\n}"
          type: json
        desc: 人员和公司所属关系判断
        headers: ''
        isInIteration: false
        isInLoop: false
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: true
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求-所属
        type: http-request
        url: http://172.16.1.203:9621/audit/graph/paths/query
        variables: []
      height: 164
      id: '17826377927780'
      position:
        x: 499.96009955687225
        y: 553.1380467594759
      positionAbsolute:
        x: 499.96009955687225
        y: 553.1380467594759
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        output_type: string
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '17826377927780'
          - body
        - - '1782469790439'
          - body
      height: 133
      id: '1782637856656'
      position:
        x: 1076.6414235670943
        y: 397.36344347525215
      positionAbsolute:
        x: 1076.6414235670943
        y: 397.36344347525215
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          modelType: models
          name: qwen3.5-27b
          provider: langgenius/gpustack/gpustack
          variable: []
        prompt_template:
        - id: 1c2083f3-b182-4f3f-bb72-72b92378d276
          role: system
          text: '{{#1782637856656.output#}}基于这个数据，分析当前输入的员工{{#1782469769690.user#}}和公司{{#1782469769690.company#}}，之间是否有股权关系和员工所属关系。


            *输出要求*

            - 尽量使用结构化的数据来展示结果，不要加入主观臆测的内容

            - 不要输出 $\rightarrow$ 类似这种特殊字符

            - 对于难以理解的短语、关键词，要移除，不能影响整体回答质量

            - 不要输出除表格以外的结构化数据，要贴近自然语言'
        - id: 1ee55afb-5efc-496f-8c4d-9bcf48e06c43
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: 综合分析
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1782638870400'
      position:
        x: 1625.2809158288633
        y: 402.5867468550289
      positionAbsolute:
        x: 1625.2809158288633
        y: 402.5867468550289
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -103.49258634847115
      y: -16.017174980414126
      zoom: 0.5743491774985174
  rag_pipeline_variables: []
